<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="top-nav-bar" role="toolbar">
    <div class="left-nav-item">
    <div class="default_user_image">
        <img 
        width="30"
        height="30"
        alt="default_user_image.png"
        src="../../assets/default_user_avatar.png"/>
    </div>

    <div class="btn-default">
    <div class="dropdown-nav-item">
        <a class="btn dropdown-toggle" role="button" id="navbarDropdown" data-bs-toggle="dropdown" href="#">
            Individual
        </a>
        
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" > 
            <li><a class="dropdown-item" href="#">Individual</a></li>
            <li><a class="dropdown-item" href="#">Ira(-)</a></li>
        </ul>
    </div>
    </div>
    
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
      </svg>
      <div class="Spacing-Element"></div>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
        <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
      </svg>
      <div class="Spacing-Elementii"></div>
      <div class="popper_image">
        <img 
        width="22"
        height="22"
        alt="popper.png"
        margin-top=5px
        src="../../assets/popper.png"/>
    </div>
</div>    
</div>   
</body>