<div class="login-widget">

    <div class="login-bar">

        <div class="login-display-text">
            <span class="text-1">
                Login
            </span>
        </div>
        <div class="eye-button">
            <i class="bi bi-eye-slash"></i>
        </div>
        <div class="x-button">
            <i class="bi-x"></i>
        </div>
    </div>
    <div class="login-body">
        <div class="login-box">
            <div class="login-boxx">
                <div class="text-2">
                    <span>Please<span class="text-1">open Account </span>to view Details.</span>
                </div>
            </div>
        </div>
    </div>

</div>