<li class="Stock">
    <div class="col-left">
        <div class="row-left">
            <div class="text-left">{{ name }}</div>
        </div>
        <div class="row-left">
            <div class="text-left">{{ index }}</div>
        </div>
    </div>
    <div class="col-right">
        <div class="row-right">
            <div class="text-right-1">{{ value }}</div>
        </div>
        <div class="row-right">
            <div class="text-right-2"><span style="margin-right: 5px;">{{ change_1 }}</span><span>{{ change_2 }}</span></div>
        </div>
    </div>
</li>