<div class="container-fluid">
    <app-login-dialouge></app-login-dialouge>    
    <div class="row" style="padding: 0px;">
            <div class="col" style="padding: 0px;">
                <app-top-nav-bar></app-top-nav-bar>
            </div>
        </div>
        <div class="row" style="padding: 0px; width: 60px; bottom: 0px; top: 44px; position: absolute; margin: 0px; left: 0px;">
            <div class="col"  style="padding: 0px; width: 60px; bottom: 0px; margin: 0px;">
                <app-side-nav-bar></app-side-nav-bar>
            </div>
        </div>
        <div class="row" style="padding: 0px; width: Calc(100% - 60px); right: 0px; height: 24px; position: absolute; margin: 0px;">
            <div class="col" style="padding: 0px;">
                <app-board></app-board>
            </div>
        </div>
    <div class="row" style="padding: 0px; position: fixed; margin: 0px; left: 60px; top: 68px; height: 100%; width: 100%;">
        <div class="col" style="padding: 0px;">
            <app-widget-center></app-widget-center>
        </div>
    </div>
    <app-bottom-nav-bar></app-bottom-nav-bar>
</div>
