<div class="board">
    <div class="board-container">
    <div class="board-top-bar">
        <div class="board-bar">
            <div class="menu-button">
                <div class="hidden">
                    <i class="bi-list"></i>
                </div>
            </div>
            <span class="board-label">
                Stock
            </span>
            <div class="cancel-button">
                <i class="bi-x"></i>
            </div>

            <div class=board-bar-right>
                <i class="bi-plus"></i>
                <i class="bi-save"></i>
                <i class="bi-tools"></i>
            </div>
        </div>
        </div>
    </div>
</div>
