.board
/*    {
        position: fixed;
        left: 60px;
        right: 0px;
        top: 44px;
        /* height: 100%; 
        bottom: 30px;
        background: #F2F6FA;
    } */
    {
        top: 0px;
        left: 0px;
        right: 0;
        height: 24px;
        z-index: 1;
        position: absolute;
        min-width: 1000px;
        background: #E7EAEF;
    }
.board-container
{
    width: 100%;
    height: 24px;
    position: absolute;
    background: #E7EAEF;
}
.board-bar
{
    display: flex;
    height: 24px;
    background: #FFFFFF;
}
.board-bar-right
{
    width: 75px;
    display: table-cell;
    font-size: 12px;
    justify-content: center;
    vertical-align: middle;
    padding-top: 0;
    right: 0px;
}

.menu-button
    {
        display: flex;
        height: 24px;
        width: 24px;
        margin: 0%;
    }
.menu-button:hover
{
    display: flex;
    height: 24px;
    width: 24px;
}
.cancel-button
    {
        display: flex;
        right: 0px;
        height: 24px;
        width: 24px;
        margin: 0%;
    }
.cancel-button:hover
{
    display: flex;
    height: 24px;
    width: 24px;
}
.hidden{
    display: inherit;
}
.bi::before{
    display: inherit; 
    color: black; 
    font-size: 20px;
    height: 24px;
    width: 24px;
    margin: 0%;
    align-items: center;
    text-align: center;
    }
.bi-list 
{
    color: black; 
    font-size: 20px;
    height: 24px;
    width: 24px;
    margin: 0%;
    vertical-align: middle;
    text-align: center;
}

.bi-x 
{
    color: black; 
    font-size: 20px;
    height: 24px;
    width: 24px;
    margin: 0%;
    vertical-align: middle;
    text-align: center;
}
.bi-plus 
{
    color: black; 
    top: 0px;
    font-size: 19px;
    height: 24px;
    width: 24px;
    margin: 0%;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    position: relative;
}
.bi-save 
{
    color: black; 
    font-size: 13px;
    height: 24px;
    width: 24px;
    margin: 0%;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    position: relative;
}
.bi-tools
{
    color: black; 
    font-size: 13px;
    height: 24px;
    width: 24px;
    padding-left: 10px;
    margin: 0%;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    position: relative;
}
.board-label
{
    width: 100%;
    display: flex;
    font-size: 12px;
    justify-content: center;
    vertical-align: middle;
    padding-top: 2.5px;
}

