<div class="card">
    <div class="card-title">
        <div class="login-title-text">
            <span class="text-1">
                Watchlist
            </span>
        </div>
        <div class="x-button">
            <i class="bi-x"></i>
        </div>
    </div>
    <div class="watchlist-body">
        <div class="row"><div class="watchlist-drop"></div></div>
        <div class="row" style="height: 29px;">
            <div class="watchlist-organizer">
                <div class='organize-head' style="width: 109px; text-align: left; left: 20px; top:0px; position:absolute;">Name</div> 
                <div class='organize-head' style="width: 109px; text-align: right; left: 109px; top:0px; position:absolute;">Price/Change</div>
            </div>
        </div>
        <div class="watchlist-list">
            <div class="break"></div>
            <div class="row-stock" *ngFor="let stock of stocks;">
                <app-watchlist-stock 
                name={{stock.name}} 
                index={{stock.index}} 
                value={{stock.value}} 
                change_1={{stock.change_1}} 
                change_2={{stock.change_2}}>
                </app-watchlist-stock>
            </div>
            <div class="break"></div>
        </div>
    </div>
</div>