/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
.top-nav-bar {
    width: -fit-content;
    height: 44px;
    display: flex;
    align-items: left;
    margin-left: 0px;
    justify-content: space-between;
    background: #F2F6FA;
}

.left-nav-item{
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 13px;
    margin-right: auto;
    background: #F2F6FA;
}
.right-nav-item{
    width: fit-content;
    display: flex;
    align-items: center;
    right: 13px;
    background: #F2F6FA;
}
.search-container{
    background: #F2F6FA;
}

.default_user_image{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    align-items: left;
}
.popper_image{
    margin-top: 4px;
    margin-left: 0px;
}
.col-1 {
	display: block;
	width: 100%;
    display: flex;
	height: 44px;
	padding: 4px 10px;
	font-size: 12px;
	line-height: 1.5;
	color: #F2F6FA;
	background-color: #F2F6FA;
	background-image: none;
	border: 0px solid #F2F6FA;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.sel1 {
    width: fit-content;
}
.dropdown_menu{
    background-color: #F2F6FA
}
.envelope{
    width:20px;
    height:20px;
}

.btn-default:not(.dropdown-toggle):hover {
    background-color: #F2F6FA;
    border-color: #ccc;
    cursor: default;
}
.btn-default:not(.dropdown-toggle) {
    background-color: #F2F6FA;
    border-color: #ccc;
    cursor: default;
}
.Spacing-Element{
    margin-right: 10px;
}
.Spacing-Elementii{
    margin-right: 5px;
}
.inner-addon { 
    position: flex; 
}

/* Moving to left toolbar */
.side-nav-bar{
    left: 0;
    width: 60px;
    height: 100%;
    z-index: 1;
    background-color: #292F4F;
}

.image-group-1{
    width: 100%;
    cursor: pointer;
    height: 40px;
    display: block;
    font-size: 32px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 25px;
    margin-top: 4px;
}

.image-group-2{
    width: 100%;
    cursor: pointer;
    display: block;
    font-size: 32px;
    text-align: center;
    padding-top: 4px;
}
.image-group-3{
    width: 100%;
    cursor: pointer;
    display: block;
    font-size: 32px;
    text-align: center;
    padding-top: 8px;
}
.image-group-4{
    width: 100%;
    cursor: pointer;
    display: block;
    font-size: 24px;
    text-align: center;
    padding-top: 235px;
}
.image-group-5{
    width: 100%;
    cursor: pointer;
    display: block;
    font-size: 24px;
    text-align: center;
    padding-top: 29px;
}
.side-nav-items-bottom{
    left: 0;
    width: 100%;
    bottom: 110;
    height: 24px;
    position: absolute;
    text-align: center;
}